[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
#invoke = "==1.1.1"
invoke = { git = 'https://github.com/plockc/invoke.git', ref='e8cfe52044a8f314ac476538167e03df95959aa2'}
pyyaml = "*"
setuptools = "*"
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.6"
